# Konfigurasi Port Server
PORT=3001

# Konfigurasi Target Penerima Pesan & Kontak Admin
# Gunakan kode negara tanpa spasi atau tanda plus (contoh: 6281234567890)
TARGET_PHONE=6281234567890
ADMIN_NAME="Admin Layanan"
ADMIN_PHONE=6281234567890

# Proteksi API Key (Opsional: Isi untuk mengaktifkan validasi header x-api-key atau Authorization Bearer)
API_KEY=
